<h1>タスク一覧</h1>
<p><%= notice %></p>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <p>タスク名</p>
    <p><%= task.title %></p>
    <p>内容</p>
    <p><%= task.content %></p>
    <p><%= link_to '詳細を確認する', task_path(task.id) %></p>
  </li>
  <% end %>
</ul>
